django>=4.2
gunicorn
whitenoise
groq
langchain
langchain-groq
langchain-community
langchain-huggingface
sentence-transformers
pypdf
faiss-cpu
duckduckgo_search
requests
python-dotenv
googlesearch-python
scholarly
gTTS
