streamlit
groq
langchain
langchain-groq
langchain-community
langchain-huggingface
sentence-transformers
pypdf
faiss-cpu
duckduckgo_search
requests
python-dotenv
pyautogui
pillow
pyttsx3
speechrecognition
googlesearch-python
scholarly
